body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 65%;
  margin: 0 auto;
  font-size: 1vw;
}

h1 {
  font-size: 13rem;
}

img {
  height: 10rem;
}